
# Playwright Test Report

- Total: 2
- Passed: 1
- Failed: 1
- Skipped: 0

## Tests

- PASSED | basic sanity check | 2286ms
- FAILED | search button should be visible | 6889ms
